html, body {
    padding-top: 0!important;
    padding-left: 20px;
    background-color: #B2DFDB;
}

a {
    color: #757575;
}

h1 {
    font-weight: bold;
}

.extra-top {
    margin-top: 5%;
}

.searchbox {
    width: 75%;
    margin-left: 10%;
    margin-top: 25%;
}

.search-btn {
    position: relative;
    list-style: none;
    width: 75%;
    margin-left: 10%;
}

.panel-default .panel-heading {
    font-size: 14px;
    background-color: #00796B;
    color: #fff;
}